.settingBody{
    margin-top: 30px;
   min-height: 250px;
}

.tabContainer{
    min-height: 250px;
    margin-bottom: 20px;
}

.addButton{
    border: none;
    background-color: #E72435;
    margin-right: 10px;
    color: #fff;
    border-radius: 0%;

}
.business-body{
    background-color: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-top: 15px;
}
