body{
    background-color: #f5f5f5 ;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 300;
}


.rowBusiness{
   /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12);*/
    border: 2px solid #fff;
    height: 150px !important;
    margin-top: 10px;
    /*background-color: #fff;*/

}
.businessImage{
    display: inline-block;
    float: left;
}

.businessBody{
    background-color: #ffffff;
    display: inline-block;
    height: inherit;
    padding: 0px;


}

.businessImage img{
    width: 85px;
}

.goProfile{
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.listing{
    background-color: #fff ;
    border: 3px solid #e5e5e5;
    margin-top: 55px;
    min-height: 250px;
    margin-bottom: 55px;
}

.listingHeader{
    padding: 20px;
}
.customDropDown{
    border-radius: 0% !important;
    width: 160px !important;
    color: #E72435 !important;
    text-align: left;
}
.customDropDown :hover{
    border-color:#E72435 ;
}
.customDropDown .caret{
    margin-left: 60%;
}

.rate{
    width: 30px ;
    height: 30px ;
    background-color: #E72435;
    color: #fff;
    font-weight: 400;
    padding: 5px;
    text-align: center;
}
.media-body .row{
    padding-top: 25px;
}

.bNameLink{
    color: #333;
    text-decoration: none;
}
.bNameLink:hover{
    text-decoration: none;
    color: #b2b2b2;
}
.divLine{
    height: 10px;
    width: 80%;
    color: #e5e5e5 ;
    margin-top: 0px !important;
    border-top: 2px solid #eee;
}

.rowBusiness:last-child .divLine{display: none}
  /*____________________________detaail page____________________________________________________*/
.details{
    margin-top: 30px ;
    margin-bottom:  20px ;
    margin-right: 5%;
    margin-left: 5%;

}

.businessHeader{

    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 5px 15px 5px;

}
.logo{

    height:135px;
   width: 95%;
    margin: 0px 10px 10px 0px;
    border-radius: 3px;
}

.uiDivider {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid rgba(255,255,255,.1);
    margin-bottom: 10px;
    margin-top: 10px;
}
.write{
    background-color: #E72435;
    color:#fff;
}
.businessHeader .fa{
    margin-right: 10px;
}
.businessHeader .btn{
    border-radius: 0%;
}

.businessMenu{
    overflow-x: auto;
    overflow-y: hidden;
    height: 60px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-top: 15px;
}


.resMenu{
    white-space:nowrap;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    height: 100%;
}
.resMenu .item {
    text-decoration: none;
    color: #33373D;
    display: block;
    height: 100%;


    float: left;

    position: relative;
    vertical-align: middle;
    line-height: 1;

    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding: 20px 28px;
    text-transform: none;
    border-right: 1px solid #ccc;;
    font-weight: 400;
    -webkit-transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;

}
.resMenu :last-child {
   border-right: none;
}

.fixedMenu{
    position: fixed;
    top:0;
    margin-top: 0;
    margin-bottom: 0;
    width:inherit;
    z-index: 1;

}

.fixedMarging{

}
.activeItem {
  color:#000;
    border-bottom: 3px solid #E72435;
}
.resMenu .item:hover{
    background-color:  #6e6e6e;
    color: #333;
}

.verticalDivider {
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid rgba(255,255,255,.1);
    height: 60px;
    border-left: 5px;
    border-right: 5px;
}

.business-body{
    background-color: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-top: 15px;
}

#about, #photos , #offer, #contact,#reviews,#more,
#editAbout, #editPhotos, #editOffer, #editContact,#editMore {
    padding: 40px;
}

#about p ,#editAbout p{
    text-align: justify;
    line-height: 1.8;
    margin-left: 10px;
}


#offer ,#editOffer,#editAbout,.panel{
    color: #e5e5e5;
    background-color: #2f3a49
}
#offer p, #editOffer p {

    margin-left: 10px;
}
.sebm{
    height: 250px;
    width: 90%;
    text-align: center;
}
#photos p,#editPhotos p{
 margin-top: 20px;
}
#photos p i,#editPhotos p i{margin-right: 10px; color: #333;}
#photos h1 ,#editPhotos h1{
    margin-bottom: 20px;
}

.btn-social{
    border: 1px solid #4c4c4c;
    height: 35px ;
}

.b a:hover{
    color: #333;
}


#contact h1, #editContact h1{
   margin-bottom: 15px;

}

.writeReview{
    color: #333 !important;
}

.writeReview h6 {

    margin-right: 20px;
}

.writeReview button{
    background-color:#E72435 ;
    border-color: #E72435 ;
}

.writeReview .btn-primary:hover{
    background-color:#E72435 !important;
    color: #e5e5e5 !important;
    border-color: #E72435 ;
}

#more ,#editMore {
    color: #e5e5e5;
}

.noRes{
    margin :15%
}

/*_______________________________end detail page styling ____________________________________________*/

@media only screen and (max-width :1200px)  {
    .media-body .row{
        padding-top: 10px;
    }
}

@media only screen and (max-width : 480px) {
    .resForm{
       width: 95%;
        text-align: center !important;
        margin: 0 !important;
    }
    .listing{
        margin-left: 0px;
    }
    .logo{
        margin-left: 0px;
    }
}
